*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/system/
/ci_sessions/

#others
*.sql.gz
*.twig
*.zip
database.php
application/data/*
/logs/
favicon.png
/assets/
/uploads/
/.idea/
*.log
application/data/runtime/
access.log
error.log
*.lock